h1 login

form(method = "POST")
  input(type="email", name="email", placeholder="your email here" required)
  input(type="password", name="password", placeholder="your password here" required)
  button(type="submit" value="login") Login
