h1 register

div
  form(method = "POST")
    input(type="email", name="email", placeholder="your email here" required)
    input(type="password", name="password", placeholder="your password here" required)
    input(type="password", name="confirmPassword", placeholder="reinput PW to register")
    button(type="submit" value="register") register
